<h2>Sobre mim</h2>
<section class="content">
  <p>
    Sou desenvolvedor com experiência na criação de sites e blogs utilizando HTML, CSS, JavaScript e Angular. Especializo-me em desenvolver interfaces responsivas que garantem uma experiência de usuário otimizada. Também sou responsável pela manutenção e atualização contínua de páginas, focando sempre no desempenho e funcionalidade. Atualmente, estou aprofundando meus conhecimentos em tecnologias back-end como Java, PostgreSQL e SpringBoot. Estou cursando Engenharia de Software, o que complementa minha formação técnica e teórica.</p>

    <p>Fora da programação, gosto de ouvir música, praticar exercícios físicos e jogar, atividades que me ajudam a manter a criatividade e o foco nos meus projetos.</p>
</section>

<ul class="contact-list">
  <li>
    <a href="https://www.linkedin.com/in/leoalvarengam/" target="_blank">
      <button>
        <img src="assets/icons/contact/linkedin.svg" alt="" width="30px">
      </button>
    </a>
  </li>
  <li>
    <a href="https://github.com/ynfleozin" target="_blank">
      <button>
        <img src="assets/icons/contact/github.svg" alt="" width="30px">
      </button>
    </a>
  </li>
</ul>
