:root{
  --primary: #1A0B2E;
  --primary-010: #290d4d;

  --secondary: #11071F;

  --tertiary: #44007c;

  --white: #FFFF;
  --black: #0000;
  --gray: gray;

  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
  --p-small-font: 0.9rem;
}
